<div class="card form-card">
  <div class="card-body">
    <h2 class="text-center">{{ isInEditMode ? "Update mode" : "Add mode" }}</h2>

    <form [formGroup]="stdForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="fname" class="required">First Name </label>
        <input type="text" formControlName="fname" class="form-control mb-1" />

        <div
          class="text-danger small"
          *ngIf="stdForm.get('fname')?.touched && stdForm.get('fname')?.invalid"
        >
          <span *ngIf="stdForm.get('fname')?.errors?.['required']">
            First name is required
          </span>

          <span *ngIf="stdForm.get('fname')?.errors?.['pattern']">
            Only letters allowed (2-20 characters)
          </span>
        </div>
      </div>

      <div class="form-group">
        <label for="lname" class="required">Last Name </label>
        <input type="text" formControlName="lname" class="form-control mb-3" />
        <div
          class="text-danger small"
          *ngIf="stdForm.get('lname')?.touched && stdForm.get('lname')?.invalid"
        >
          <span *ngIf="stdForm.get('lname')?.errors?.['required']">
            Last name is required
          </span>

          <span *ngIf="stdForm.get('lname')?.errors?.['pattern']">
            Only letters allowed
          </span>
        </div>
      </div>

      <div class="form-group">
        <label for="email" class="required">Email </label>
        <input
          type="text"
          formControlName="email"
          class="form-control mb-3"
          name="email"
          id="email"
        />

        <div
          class="text-danger small"
          *ngIf="stdForm.get('email')?.touched && stdForm.get('email')?.invalid"
        >
          <span *ngIf="stdForm.get('email')?.errors?.['required']">
            Email is required
          </span>

          <span *ngIf="stdForm.get('email')?.errors?.['email']">
            Invalid email format
          </span>
        </div>
      </div>

      <div class="form-group">
        <label for="contact" class="required"> Contact </label>
        <input
          type="text"
          formControlName="contact"
          class="form-control mb-3"
        />

        <div
          class="text-danger small"
          *ngIf="
            stdForm.get('contact')?.touched && stdForm.get('contact')?.invalid
          "
        >
          <span *ngIf="stdForm.get('contact')?.errors?.['required']">
            Contact is required
          </span>

          <span *ngIf="stdForm.get('contact')?.errors?.['pattern']">
            Enter valid Indian mobile number
          </span>
        </div>
      </div>

      <div class="text-center mt-3">
        <!-- <button
            mat-mini-fab
            color="accent"
            class="runaway-btn"
            [class.run]="stdForm.invalid"
            class="text-center"
          >
            <mat-icon class="mat-18">add</mat-icon>
          </button> -->

        <div
          class="btn-wrapper"
          [class.invalid]="stdForm.invalid"
          (mousemove)="onMouseMove($event)"
        >
          <button
            mat-mini-fab
            color="accent"
            type="submit"
            class="runaway-btn"
            [ngStyle]="btnStyle"
            *ngIf="!isInEditMode"
          >
            <mat-icon>add</mat-icon>
          </button>

          <button
            mat-mini-fab
            color="primary"
            type="button"
            class="runaway-btn"
            [ngStyle]="btnStyle"
            *ngIf="isInEditMode"
          >
            <mat-icon>update</mat-icon>
          </button>
        </div>
        <!-- <div class="btn-wrapper" [class.invalid]="stdForm.invalid">
            <button
              mat-mini-fab
              color="accent"
              type="submit"
              class="runaway-btn"
            >
              <mat-icon>add</mat-icon>
            </button>
          </div> -->
        <!-- <button mat-mini-fab color="primary">
            <mat-icon>update</mat-icon>
          </button> -->
      </div>
    </form>
  </div>
</div>
