label.required::after {
  content: " *";
  color: red;
  font-weight: bold;
}

// ==================
.btn-wrapper {
  position: relative;
  width: 120px;
  margin: auto;
}

/* button base */
.runaway-btn {
  position: relative;
  transition: transform 0.25s ease;
}

/* ONLY when form INVALID */
.btn-wrapper.invalid:hover .runaway-btn {
  transform: translateX(100px);
}

.btn-wrapper.invalid:hover .runaway-btn {
  transform: translateX(-100px);
}
// ===============
.btn-wrapper {
  position: relative;
  width: 160px;
  margin: auto;
  height: 80px;
}

.runaway-btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: transform 0.25s ease;
}

// ====================
.form-card {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  border: 1px solid #e5e5e5;
}

// input {
//   border: 1px solid rgb(95, 255, 2);
// }


// button.mat-focus-indicator.runaway-btn.mat-mini-fab.mat-button-base.mat-accent.mat-button-disabled {
//     color: red;
//     background: rgb(208, 120, 208);
// }