<div class="card">
  <div class="card-body">
    <form [formGroup]="stdForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="fname" class="required">First Name </label>
        <input type="text" formControlName="fname" class="form-control mb-3" />
      </div>

      <div class="form-group">
        <label for="lname" class="required">Last Name </label>
        <input type="text" formControlName="lname" class="form-control mb-3" />
      </div>

      <div class="form-group">
        <label for="email" class="required">Email </label>
        <input
          type="text"
          formControlName="email"
          class="form-control mb-3"
          name="email"
          id="email"
        />
      </div>

      <div class="form-group">
        <label for="contact" class="required"> Contact </label>
        <input
          type="text"
          formControlName="contact"
          class="form-control mb-3"
        />

        <div class="text-center">
          <!-- <button
            mat-mini-fab
            color="accent"
            class="runaway-btn"
            [class.run]="stdForm.invalid"
            class="text-center"
          >
            <mat-icon class="mat-18">add</mat-icon>
          </button> -->

          <div
            class="btn-wrapper"
            [class.invalid]="stdForm.invalid"
            (mousemove)="onMouseMove($event)"
          >
            <button
              mat-mini-fab
              color="accent"
              type="submit"
              class="runaway-btn"
              [ngStyle]="btnStyle"
            >
              <mat-icon>add</mat-icon>
            </button>
          </div>
          <!-- <div class="btn-wrapper" [class.invalid]="stdForm.invalid">
            <button
              mat-mini-fab
              color="accent"
              type="submit"
              class="runaway-btn"
            >
              <mat-icon>add</mat-icon>
            </button>
          </div> -->
          <!-- <button mat-mini-fab color="primary">
            <mat-icon>update</mat-icon>
          </button> -->
        </div>
      </div>
    </form>
  </div>
</div>
