/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  background: #f4f6f8;
}

// body {
//   background: #121212;
//   color: #ffffff;
// }

/* dialog background */
.mat-dialog-container {
  background: #1e1e1e !important;
  color: white;
}

/* input field */
// .mat-form-field-appearance-fill .mat-form-field-flex {
//   background: #2a2a2a;
// }

// /* input text */
// .mat-input-element {
//   color: white;
// }

// /* label color */
// .mat-form-field-label {
//   color: #bbb !important;
// }

// /* table */
// table {
//   background: #1e1e1e;
//   color: white;
// }

// th {
//   background: #2a2a2a;
// }

// /* card */
// .card {
//   background: #1e1e1e;
//   color: white;
// }
